<div class="span6 offset3 boxy text-center">
	<h1 class="h1-custom">
		Hi there
	</h1>
	<br/>
	<h2>
		Tell us how you're doing
	</h2>
	<br/>
	<%= link_to 'Launch', pics_path, :class =>'btn btn-primary btn-med' %>

</div>